<!-- 
    * content.html
    * This file will contain a view of content on an entry
 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Thriller diary: Content</title>

     <!-- icon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='imgs/thriller.png') }}">

    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>
 <body>
     <!-- Top section -->
     <header id="" class="dashtop">
        <h1 id="title-header">Thriller Diary</h1>
        <nav>
        <ul>
            <a href="/add"><li><button class="btn-toHome">Add</button></li></a>
            <a href="/entries"><li><button class="btn-toSign">View All Entries</button></li></a>
            <a href="/profile"><li><button class="btn-toSign btn-account">Account</button></li></a>
        </ul>
        </nav>
    </header>
    <main>
        <section id="content" class="wrap-content">
            <div class="group-form">
                
                   <div id="title">

                   </div>
                   <div id="date">

                   </div>
                
                <div id="description">
                        
                </div>

            </div>
        </section>
    </main>
     
    <!-- footer -->
    <footer class="section_footer">
            <div class="wrap-content">
              <p>&copy; 2018 Thriller Diary</p>
            </div>
    </footer>
<!-- scripts -->
<script src="{{ url_for('static', filename='js/single.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
 </body>
 </html>
 