<!-- 
    * dashboard.html
    * This file contains the list of entries, some user info(email) etc
 -->

 
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
     <!-- icon -->
     <link rel="shortcut icon" type="image/png" href="imgs/thriller.png">
 
     <!-- custom css -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
     <title>Thriller Diary</title>
 </head>
 <body>
        <script>
                $(document).ready(function() {
                    const token = JSON.parse(localStorage.getItem('access_token'));
                    console.log(token)
                    if (token == null)
                    {
                        window.location.href = "/signin";
                    }
                    const EntriesUrl = '//api-thriller-diary.herokuapp.com/api/v1/entries/';
                    fetch(`${EntriesUrl}`, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                                "access_token": token
                }
            })
            .then((response)=>{ 
                console.log(response.status)
        })
      .catch(err => console.log(err));
        
    });
            </script>
     <!-- <h1>I am the Body of Thriller Diary Homepage</h1> -->
     <!-- Top section -->
     <header id="" class="dashtop">
         <h1 id="title-header">Thriller Diary</h1>
         <nav>
         <ul>
             <a href="/add"><li><button class="btn-toHome">Add</button></li></a>
             <a href="/entries"><li><button class="btn-toSign">View All Entries</button></li></a>
             <a href="/profile"><li><button class="btn-toSign btn-account">Account</button></li></a>
         </ul>
         </nav>
     </header>
 
     <main>
         <section id="welcome">
         <p class="text-white">Welcome to your dashboard <span id="name" class="name"></span></p>
         <h1 class="text-white">Here Are your Entries</h1>
        </section>
         <section class="section" id="marketing">
             <div class="wrap-content">

             </div>
         </section>
         <section id="entries" class="wrap-content">
             <div id="table">
                <table>
                <tbody id="tbody" onload="getEnts()">
                    <tr>
                        <td class="tdata">An entry</td>
                        <td class="tdata">11/10/2018</td>
                        <td class="view tdata"><li><a href="/content"> View</a></li></td>
                        <td class="edit tdata"><li><a href="/modify"> Edit</a></li></td>
                        <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                    </tr>
                </tbody>
                </table>
            </div>
            </section>
     </main>
 
     <!-- footer -->
     <footer class="section_footer">
             <div class="wrap-content">
               <p>&copy; 2018 Thriller Diary</p>
             </div>
     </footer>
    
     <!-- js -->
     <script src="{{ url_for('static', filename='js/app.js') }}"></script>
     <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
 </body>
 </html>
 