<!-- 
    * dashboard.html
    * This file contains the list of entries, some user info(email) etc
 -->

 
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
     <!-- icon -->
     <link rel="shortcut icon" type="image/png" href="imgs/thriller.png">
 
     <!-- custom css -->
     <link rel="stylesheet" href="css/style.css">
     
     <title>Thriller Diary</title>
 </head>
 <body>
     <!-- <h1>I am the Body of Thriller Diary Homepage</h1> -->
     <!-- Top section -->
     <header id="" class="dashtop">
         <h1 id="title-header">Thriller Diary</h1>
         <nav>
         <ul>
             <a href="modify.html"><li><button class="btn-toHome">Add</button></li></a>
             <a href="entries.html"><li><button class="btn-toSign">View All Entries</button></li></a>
             <a href="profile.html"><li><button class="btn-toSign btn-account">Account</button></li></a>
         </ul>
         </nav>
     </header>
 
     <main>
         <section id="welcome">
         <p class="text-white">Welcome to your dashboard <span class="name">John English!</span> </p>
         <h1 class="text-white">Here Are your Entries</h1>
        </section>
         <section class="section" id="marketing">
             <div class="wrap-content">

             </div>
         </section>
         <section id="entries" class="wrap-content">
             <div id="table">
                <table>
                <thead>
                <tr>
                    <th>Entry</th>
                    <th>Date</th>
                    <th class="action" colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
                <tr>
                    <td class="tdata">An entry</td>
                    <td class="tdata">11/10/2018</td>
                    <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                    <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                    <td class="delete tdata"><li><a href=""> Delete</a></li></td>
                </tr>
            </tbody>
            </table>
            </div>
            </section>
 
     </main>
 
     <!-- footer -->
     <footer class="section_footer">
             <div class="wrap-content">
               <p>&copy; 2018 Thriller Diary</p>
             </div>
     </footer>
    
     <!-- js -->
     <script src="js/main.js"></script>
     <script src="jquery-3.2.1.min.js"></script>
 </body>
 </html>
 