<!--

* entries.html 
* This file contains a list of all entries

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thriller diary: diaries</title>

    <!-- icon -->
    <link rel="shortcut icon" type="image/png" href="imgs/thriller.png">

    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="top" class="section_top">
        <h2 id="title-header">Thriller Diary</h2>
        <nav>
            <ul>
                <li><a href="/dashboard"><button class="btn-toHome">Dashboard</button></a></li>
                <li><a href="/"><button class="btn-toHome">About</button></a></li>
                <li><a href=""><button class="btn-toSign">Log Out</button></a></li>
            </ul>
        </nav>
    </header>
        
    <main>
        <section id="entries" class="wrap-content group-form">
            <table id="table">
            <tr>
                <th>Entry</th>
                <th>Date</th>
                <th class="action" colspan="3">Actions</th>
            </tr>
            <tbody id="tbody">
            <tr>
                <td class="tdata">An entry</td>
                <td class="tdata dated">11/10/2018</td>
                <td class="view tdata"><li><a href="content.html"> View</a></li></td>
                <td class="edit tdata"><li><a href="modify.html"> Edit</a></li></td>
                <td class="delete tdata"><li><a href=""> Delete</a></li></td>
            </tr>
        </tbody>
            </table>
        </section>
    </main>
    
    <!-- footer -->
    <footer class="section_footer">
            <div class="wrap-content">
              <p>&copy; 2018 Thriller Diary</p>
            </div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
