<!--

* entries.html 
* This file contains a list of all entries

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thriller diary: diaries</title>

    <!-- icon -->
    <link rel="shortcut icon" type="image/png" href="imgs/thriller.png">

    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
</head>
<body>
        <script>
                $(document).ready(function() {
                    const token = JSON.parse(localStorage.getItem('access_token'));
                    console.log(token)
                    if (token == null)
                    {
                        window.location.href = "/signin";
                    }
                    const EntriesUrl = '//api-thriller-diary.herokuapp.com/api/v1/entries/';
                    fetch(`${EntriesUrl}`, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                                "access_token": token
                }
            })
            .then((response)=>{ 
                console.log(response)
                if (response.status != 200)
                {
                    window.location.href = "/signin";
                }
        })
                    .catch(err => console.log(err));
        
                  });
            </script>
    <header id="top" class="section_top">
        <h2 id="title-header">Thriller Diary</h2>
        <nav>
            <ul>
                <li><a href="/dashboard"><button class="btn-toHome">Dashboard</button></a></li>
                <a href="/profile"><li><button class="btn-toSign btn-account">Account</button></li></a>
                <!-- <li><a href="/"><button class="btn-toHome">About</button></a></li> -->
                <li><a href=""><button onclick="LogOut()" class="btn-toSign">Log Out</button></a></li>
            </ul>
        </nav>
    </header>
        
    <main>
        <section id="entries" class="wrap-content group-form">
            <table id="table">
            <tbody id="tbody">
                <tr>
                    <td class="tdata">fetching...</td>
                    <td class="tdata">fetching...</td>
                    <td class="view tdata"><li><a href="/content"> fetching...</a></li></td>
                    <td class="edit tdata"><li><a href="/modify"> fetching...</a></li></td>
                </tr>
            </tbody>
            </table>
        </section>
    </main>
    
    <!-- footer -->
    <footer class="section_footer">
            <div class="wrap-content">
              <p>&copy; 2018 Thriller Diary</p>
            </div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
