<!-- 
    * index.html (landing page)
    * This file contains the landing page. It has marketing stuff, Sign-in and sign-up links.
 -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- icon -->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='imgs/thriller.png') }}">
    <!-- custom css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <title>Thriller Diary</title>
</head>
<body id="homepage">
    <!-- <h1>I am the Body of Thriller Diary Homepage</h1> -->
    <!-- Top section -->
    <header id="top" class="section_top">
        <h1 id="title-header">Thriller Diary</h1>
        <nav>
        <ul>
            <a href="/signin"><li><button class="btn-toHome">Sign-In</button></li></a>
            <a href="/signup"><li><button class="btn-toSign">Sign-Up</button></li></a>
        </ul>
        </nav>
    </header>

    <main>
        <section class="section" id="marketing">
            <div class="wrap-content">
                <div onload="Welcome()" id="welcoming-message">

                </div>
                <p class="text-white">
                        <a href="/signup"><button id="join-btn" class="text-white">Join for Free</button></a>
                </p>
            </div>
        </section>

    </main>

    <!-- footer -->
    <footer class="section_footer home_footer">
            <div class="wrap-content">
              <p>&copy; 2018 Thriller Diary</p>
            </div>
    </footer>
    <!-- scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/welcome.js') }}"></script>
    <script src="https://unpkg.com/expect@%3C21/umd/expect.min.js"></script>

</body>
</html>
