<!-- 
    * dashboard.html
    * This file contains the list of entries, some user info(email) etc
 -->

 
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
     <!-- icon -->
     <link rel="shortcut icon" type="image/png" href="imgs/thriller.png">
 
     <!-- custom css -->
     <link rel="stylesheet" href="css/style.css">
     <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
     
     <title>Thriller Diary</title>
 </head>
 <body>
        <script>
                $(document).ready(function() {
                    const token = JSON.parse(localStorage.getItem('access_token'));
                    console.log(token)
                    if (token == null)
                    {
                        window.location.href = "/signin";
                    }
                    const EntriesUrl = '//api-thriller-diary.herokuapp.com/api/v1/entries/';
                    fetch(`${EntriesUrl}`, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json",
                                "access_token": token
                }
            })
            .then((response)=>{
                if (response.status != 200)
                {
                    window.location.href = "/signin";
                }
                console.log(response)
        })
                    .catch(err => console.log(err));
        
                  });
            </script>
     <!-- <h1>I am the Body of Thriller Diary Homepage</h1> -->
     <!-- Top section -->
     <header id="" class="dashtop">
         <h1 id="title-header">Thriller Diary</h1>
         <nav>
         <ul>
             <a href="modify.html"><li><button class="btn-toHome">Add Entries</button></li></a>
             <a href="dashboard.html"><li><button class="btn-toSign">Go To Dashboard</button></li></a>
             <a href=""><li><button class="btn-toSign">Log Out</button></li></a>
         </ul>
         </nav>
     </header>
 
     <main>
         <section>
             <div>
                 <h2>Profile</h2>
                 <p>First Name: <span class="name">John</span></p>
                 <p>Last Name: <span class="name">English</span></p>
                 <p>Numeber of Entries<a href="dashboard.html"><li><span class="num">8</span></li></a></p>
                 <br>
                 <p>Set a reminder here!</p>

                 <div class="btn-space">
                    <form action="">
                            <input class="reminder" id="reminder" type="datetime-local" name="reminder" value="2018-07-15T08:30">
                            <div class="btn-space">
                                   <button class="btn-toSign" type="submit">Submit</button>
                            </div>
                    </form>
                    <form action="" class="btn-space">
                            <input class="control" type="checkbox" name="daily" > Daily Notification<br>
                            
                    </form>

                    <h4>Change Password</h4>
                    <form action="">
                        <div class="btn-space">
                            <input class="reminder" id="old-password" type="password" name="old-password" placeholder="Old password" required>
                        </div>
                        <div class="btn-space">
                            <input class="reminder" id="new-password" type="password" name="password" placeholder="New Password" required>
                        </div>
                            <div class="btn-space">
                                   <button class="btn-toSign" type="submit">Reset</button>
                            </div>
                    </form>

                 </div>
             </div>
         </section>
     </main>
 
     <!-- footer -->
     <footer class="section_footer">
             <div class="wrap-content">
               <p>&copy; 2018 Thriller Diary</p>
             </div>
     </footer>
    
     <!-- js -->
     <script src="js/main.js"></script>
 </body>
 </html>
 